# untracked repositories
__pycache__/
data/images/output/*
data/appData/*
.vscode/
build
dist
# untracked code
__main__.spec
__main__.exe
Reference_Judge.exe
test.py
test_module.py
# testing commands
command_example.txt