# untracked repositories
__pycache__/
# exclude everything
data/images/output/*
# exception to the rule
data/images/output/.gitkeep 
.vscode/
# untracked code
test.py
test_module.py
# testing commands
command_example.txt